<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Mobiquity Challenge :: Google Calendar</title>
  <link rel="shortcut icon" href="http://d29vcfpn0e63gd.cloudfront.net/sites/all/themes/mobiquity/favicon.ico"
        type="image/vnd.microsoft.icon"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
  <link rel="stylesheet" type="text/css" href="css/app.css" media="screen">
  <script src="http://code.angularjs.org/1.3.3/angular.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <style type="text/css">
    /* I usually always add this here*/
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body ng-app="Mobiquity.googleCalendar" ng-controller="MainController" ng-cloak>
<div class="w90 centered">
  <div class="auth-error" ng-show="showAuthenticationError()">
    <h2>There was an error with your google token. Please Authorize Again.</h2>
  </div>
  <div class="w30 left outline">
    <div class="section">
      <a class="button blue large" ng-hide="authenticatedAndValid()" href="{{::authorize_url}}">Authenticate with Google</a>
      <div class="clearfix"></div>
      <select ng-model="calendar" ng-options="i as i.summary for i in calendars" class="w20m clear"
              ng-change="getListForSelectedCalendar(i)">
        <option value="">Please Choose A Calendar</option>
      </select>
      <label for="date-picker">Choose Date To Display:</label> <input type="date" id="date-picker" ng-model="selected_date"
                                                                      ng-change="dateChanged()"/>
    </div>
    <div class="section">
      <div class="error-light" ng-show="!authenticatedAndValid()">
        You must authenticate to add an event to a calendar.
      </div>
      <form name="addEvent" novalidate ng-show="authenticatedAndValid()">
        <fieldset>
          <legend>
            Create New Event
          </legend>
          <select ng-model="event.calendar" ng-class="{'error':addEvent.event_calendar_id.$error}"
                  name="event_calendar_id"  ng-change="updateEventDataFromCalendar(event.calendar)"
                  ng-options="i as i.summary for i in calendars" required>
            <option value="">Choose Calendar</option>
          </select><br/>
          <input type="text" placeholder="Event Name" name="event_name" ng-class="{'error':addEvent.event_name.$error}"
                 ng-model="event.name" required ng-required/>
          <div class="clearfix"></div>
          <textarea ng-model="event.description" placeholder="Event Description" required name="event_description"
                    ng-class="{'error':addEvent.event_description.$error}"></textarea><br/>
          <label>Choose Date:</label>
          <input type="date" ng-model="event.start.date" name="event_start_date" required
                 ng-class="{'error':addEvent.event_start_date.$error}"
                 ng-change="dateChanged()"/>

          <h2>Start</h2>
          <select name="event_start_hours" required ng-model="event.start.hour"
                  ng-class="{'error':addEvent.event_start_hours.$error}" ng-options="i for i in hours" class="w20">
            <option value="">--</option>
          </select>:
          <select name="event_start_minutes" required ng-class="{'error':addEvent.event_start_minutes.$error}" class="w20"
                  ng-model="event.start.minute" ng-options="i for i in minutes">
            <option value="">--</option>
          </select>
          <select name="event_start_meridian" ng-class="{'error':addEvent.event_start_meridian.$error}" class="w20" required
                  ng-model="event.start.meridian">
            <option value="">am/pm</option>
            <option value="1">am</option>
            <option value="2">pm</option>
          </select>

          <h2>Ending</h2>

          <select name="event_end_hours" required ng-model="event.end.hour"
                  ng-class="{'error':addEvent.event_end_hours.$error}" ng-options="i for i in hours" class="w20">
            <option value="">--</option>
          </select>:
          <select name="event_end_minutes" required ng-class="{'error':addEvent.event_end_minutes.$error}"
                  ng-model="event.end.minute" ng-options="i for i in minutes" class="w20">
            <option value="">--</option>
          </select>
          <select name="event_end_meridian" ng-class="{'error':addEvent.event_end_meridian.$error}" required class="w20"
                  ng-model="event.end.meridian">
            <option value="">am/pm</option>
            <option value="1">am</option>
            <option value="2">pm</option>
          </select>
        </fieldset>
        <div class="clearfix"></div>

        <input type="submit" class="button red large" ng-class="{'animated infinite pulse':addEvent.$valid}"
               ng-submit ng-click="createEvent()" value="Create Event"/>
      </form>
    </div>


  </div>


  <div class="w70 left results">

    <h3>Events for <span ng-show="today_events.length > 1">s</span> : {{getActiveCalendarName()}} - {{getSelectedDateDisplay()}} </h3>

    <div class="box-content" ng-show="!current_day_events || current_day_events.length == 0">
      <h2>No Events To Display</h2>

      <p ng-show="!google_calendar.getActiveCalendarName().length"> Please select a calendar to display.</p>
    </div>

    <ol class="calendar-items">
      <li class="calendar-item" ng-repeat="event in current_day_events">
        <div class="inner">
          <div>
            <h3>{{::event.summary}}</h3>
            <ul class="event-details">
              <li><span>Starts:</span>{{::formatEventDateTime(event.start.dateTime)}}</li>
              <li><span>Ends:</span>{{::formatEventDateTime(event.end.dateTime)}}</li>
              <li><a ng-href="{{::event.htmlLink}}" class="button red">Details</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ol>


    <h3>{{getActiveCalendarName()}} - Events</h3>

    <div class="box-content" ng-show="!calendar_events || calendar_events.length == 0">
      <h2>No Events To Display</h2>

      <p ng-show="!google_calendar.getActiveCalendarName().length"> Please select a calendar to display.</p>
    </div>
    <ol class="calendar-items">
      <li class="calendar-item" ng-repeat="event in calendar_events">
        <div class="inner">
          <div>
            <h3>{{::event.summary}}</h3>
            <ul class="event-details">
              <li><span>Starts:</span>{{::formatEventDateTime(event.start.dateTime)}}</li>
              <li><span>Ends:</span>{{::formatEventDateTime(event.end.dateTime)}}</li>
              <li><a ng-href="{{::event.htmlLink}}" class="button red" target="_blank">Details</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
</div>
<script src="js/app.js"></script>
</body>
</html>